<%- include("partials/header") -%>

<div class="box heading">
  <h1 spellcheck="false"><%= listTitle %></h1>
</div>

<div class="box">

  <%  newListItems.forEach(function(item){ %>
  <form class="item" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
      <p class="center"><%=item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }) %>

  <form class="item" action="/list" method="post">
    <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
    <button type="submit" name="list" class="round-button" value="<%= listTitle %>"> + </button>
  </form>
</div>

<%- include("partials/footer") -%>
