<%- include("partials/header") -%>

<h1>Yeh Tedtube!</h1>

<p class="story">
  Chapter 1
  </br>
  <%= chapter1YehTedtube %>
</p>
<p class="story">
  Chapter 2
  </br>
  <%= chapter2Part1YehTedtube %>
  <br>
  <br>
  <%= chapter2Part2YehTedtube %>
</p>
<p class="story">
  Chapter 3
  <br>
  <%= chapter3YehTedtube %>
</p>
<p class="story">
  Chapter 4 
  <br>

  <%= chapter4YehTedtube %>

</p>
<p class="story">
  Chapter 5    
  <br>
  <em>Hey, Lazr Potato save me!</em> Said JG in his mind.
  He saw Lazr Potato in the window,
  though he acted he saw nothing because there was a guard behind him.
  It was a good thing the guard was sleeping. 
</p>
<br>
<p class="story">
  Chapter 6
  <br>
  Even though the guard looked like a plain rock, Lazr Potato knew better.
  He knew it was the guard, there was only one way to defeat it. 
  You needed a bucket of water and put it on the rock before it wakes up. 
  Lazr potato always had a bucket but he had no water!
  He searched the asteroid and found a storm.
  It was going to rain! 
  That gave Lazr Potato an idea. 
  He let the rain in his bucket. 
  He got water. He went to the super SECRET SPY place and splashed the rain on the rock.
  It disappeared in thin air.
  He saved JG, but when they were just about to sneak out, Dr. Hamborger came in and faced them. 
</p>
<p class="story">
  Chapter 7  
  <br>
  Lazr potato and his partner kept fighting with JG,
  <em>*BEW*</em>
  as, Lazr Potato shot a part of the robot’s leg, it flew off.
  It regenerated!
  He kept doing that on his arms and legs.
  Though, the next thing he knew, a blinding flash shot at him and he fainted. 
</p>
<p class="story">  
  Chapter 8
  <br>
  “Huh?” said lazr potato  
  He looked across the room. Complete darkness, with light with his lasers.
  He saw there was nothing except JG and Hoodie Ryan
  And... A duck?
  What was a duck doing here? 
  “Hey what are you doing here duck?” He asked
  “Quack” 
  “Wha?”
  He put on his duck headphones and his duckbill. Now he could hear and speak duck. “Hello, Mr. Frenchfries I am Hoodie
  Ryan’s pet duck. I am very special because I am the owner of this void. Also, I saved you so, your welcome.”
  “Whoa.”
  “Voids are rare and being the owner of one is one of the hardest jobs and only a few very powerful people can control
  them. They are very wild indeed. I am the king of ducks also because I am the only one that in my kingdom that could
  control a void. After our 10,293,808th king died, I became king as you may not think.
  This was also hard. Shall I show you my rules if you come into my kingdom?” 
  “Sure duck”  
  “You have to be a duck. 
  Criminals that steal are turned into frogs. 
  That is my only rules right now bye!” 
  “What do u mea...”
  *Poof*  
  Wow. 
  Hoodie Ryan was like ‘yeah I have a duck ha-ha’
  He was trying to get Lazr Potato jealous.
  Also, his code name was Mr. F, so I am going to call him that for now. 
</p>
<p class="story">

  Chapter 9
  </br>
  The duck let an opening in the void for a minute for Mr. F and his partner to go out, they were on quicksand world!
  They were finally there, somehow... 
  They got a island of quicksand and put it inside their bags, but they was too heavy and they were sinking!
  They called Donkey.
  Donkey came automatically because he was the one that moved them in emergencies! 
  Donkey carried them to potato world, Lazr Potato noticed that he was carrying Ryan and Broccoli also.
  This was a pleasant surprise to them.
  They also had quicksand how did they?
  Donkey chuckled. He knew how to get to them whenever he wanted.
  They needed to get past Dr. Hamborger.
  He was Dr. Potato but got hypnotized by Mr. Hamborger,
  he hypnotized him because the doctor was very smart.
</p>
<p class="story">
  Chapter 10
  </br>
  The Hamborgers were going to attack, he brought minions.
  Smush.
  "WHAT?" Mr. Hamborger spoke through Dr. Hamborger's voice.
  Boom!
  Mr. F's body glowed with heat.
  All of the minions either vaporized, got burnt so hard, or ran away screaming.
  He swept Dr. Hamborger/Dr. Potato into "The Plant Cave".
  It was finally done.
</p>

<p class="story">
  Epilogue
  <br>
  A potato with goggles layed on the floor.
  He gave a thumbs up to Lazr Potato.
  Lazr Potato blacked out.
</p>

<iframe
  src="https://onedrive.live.com/embed?cid=57F736686A414F63&resid=57F736686A414F63%21174&authkey=AAXHH_mgM6YoNsA&em=2"
  width="100%" height="288" frameborder="0" scrolling="no" style="text-align: center;"></iframe>
<%- include("partials/footer") -%>